{% extends "base.html" %}
{% block title %}Редактирование профиля{% endblock %}
{% block content %}
	<form method="post" action="." enctype="multipart/form-data">
	{% csrf_token %}
	<table>
		<tr>
			<td colspan="4">{{ form.avatar.errors }}</td>
		</tr>
		<tr>
			<th>{{ form.avatar.label_tag }}</th>
			<td colspan="3">{{ form.avatar }}</td>
		</tr>
		<tr>
			<td colspan="4">{{ form.last_name.errors }}</td>
		</tr>
		<tr>
			<td colspan="4">{{ form.first_name.errors }}</td>
		</tr>
		<tr>
			<td colspan="4">{{ form.middle_name.errors }}</td>
		<tr>
			<th>Ф.И.О.</th>
			<td>{{ form.last_name }}</td>
			<td>{{ form.first_name }}</td>
			<td>{{ form.middle_name }}</td>
		</tr>
		<tr>
			<td colspan="4">{{ form.login_name.errors }}</td>
		</tr>
		<tr>
			<th>Имя входа:</th>
			<td colspan="3">{{ form.login_name }}</td>
		</tr>
		<tr>
			<td colspan="4">{{ form.nickname.errors }}</td>
		</tr>
		<tr>
			<th>Никнейм:</th>
			<td colspan="3">{{ form.nickname }}</td>
		</tr>
		<tr>
			<td colspan="4">{{ form.email.errors }}</td>
		</tr>
		<tr>
			<th>Адрес электронной почты:</th>
			<td colspan="3">{{ form.email }}</td>
		</tr>
		<tr>
			<td colspan="4">{{ form.user_page.errors }}</td>
		</tr>
		<tr>
			<th>Сайт</th>
			<td colspan="3">{{ form.user_page }}</td>
		</tr>
		</table>
		<input type="submit" value="Сохранить"/>
	</form>
{% endblock %}

